.experiencia .subtitulo {
  color: var(--color-gray-c3);
}

.experiencia-texto {
  color: var(--color-gray-c10);
  font-family: var(--font-family-secundaria);
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: var(--color-black-1);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  gap: 10px 20px;
  font-family: var(--font-family-secundaria);
}

.empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#B629F8, #800ADD) center;
  position: absolute;
  left: -4px;
  top: 20px;
}

.empresa-ano {
  position: absolute;
  text-align: right;
  left: -80px;
  top: 20px;
  width: 60px;
  color: var(--color-gray-c10);
  font-size: 0.875rem;
}

.empresa-titulo {
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.1;
}

.empresa-texto {
  font-size: 0.875rem;
  color: var(--color-gray-c10);
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li{
 font-size: 0.875rem;
 line-height: 1.4;
 border-radius: 4px;
 background-color: #fff;
 padding: 5px 10px;
}

@media (max-width: 800px) {
  
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
    .experiencia .subtitulo {
      color: #141414;
      max-width: initial;
    }

    .experiencia-texto{
      font-size: 1.25rem;
    }

    .empresa-ano {
      position: initial;
      order: 1;
      text-align: left;
      width: initial;
    }

    .empresa-ano::before {
      content: "Ano: ";
    }
  } 

  @media (max-width: 500px) {
    .empresa {
      grid-template-columns: 1fr;
    }
  }