* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.container {
  max-width: 1200px;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  gap: 100px;

}

.subtitulo {
  text-transform: uppercase;
  font-size: 7.8rem;
  font-family: var(--font-family-main);;
  line-height: 1;
  word-wrap: break-word;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
    word-break: break-all;
  }
}