@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --font-family-main: "Playfair Display", serif, arial;
  --font-family-secundaria: "Fira Sans", serif;
  --color-black-1: #141414;
  --font-size-p: 1.2rem;
  --font-size-titulo: 3rem;
  --color-gray-c10: #525252;
}